/* CRONÔMETRO */

.stopwatchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 90vw;
  height: 224px;
  max-width: 300px;
  border-radius: 20px;
  background-color: #2f2f2f;
  z-index: 1;
}

.stopwatchDisplay {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}

.stopwatchDisplay span {
  width: 55px;
  overflow: hidden;
}

.resetStopwatch {
  background-color: transparent;
  border: none;
  color: #5D82F2;
  font-size: 24px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.resetStopwatch:hover {
  transform: rotate(-25deg);
}

.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.startStopwatch {
  background-color: #75e065;
  border: none;
  color: #2f2f2f;
  transition-duration: 0.2s;
  width: 66px;
  height: 46px;
  border-radius: 37px;
  font-size: 20px;
  cursor: pointer;
}

.startStopwatch:hover {
  background-color: #43b831;
}

.stopStopwatch {
  background-color: #adadad;
  border: none;
  color: #2f2f2f;
  transition-duration: 0.2s;
  width: 66px;
  height: 46px;
  border-radius: 37px;
  font-size: 20px;
  cursor: pointer;
}

.stopStopwatch:hover {
  background-color: #888888;
}

.saveTime {
  display: none;
  background-color: #f59c36;
  border: none;
  color: #2f2f2f;
  transition-duration: 0.2s;
  width: 66px;
  height: 46px;
  border-radius: 37px;
  font-size: 20px;
  cursor: pointer;
}

.saveTime:hover {
  background-color: #f58606;
}

.times {
  color: #fff;
  list-style: none;
  color: #9b9b9b;
  font-size: 20px;
  height: 70%;
  overflow-y: auto;
  margin: 10px 0;
}

.timeElement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #292929;
}

.timeElement button {
  border: none;
  background-color: transparent;
  color: #ff6969;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0;
}

#stopwatch {
  height: 60vh;
}