/* TIMER */

.timerSection {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.timerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 90vw;
  height: 264px;
  max-width: 300px;
  border-radius: 20px;
  background-color: #2f2f2f;
}

.timerTitle {
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 12px;
  left: 23px; 
}

.closeTimerBtn {
  position: absolute;
  top: 12px;
  right: 14px; 
  background: transparent;
  border: none;
  color: #5D82F2;
  font-size: 20px;
  cursor: pointer;
}

.timerDisplay {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}

.timerDisplay span {
  width: 55px;
  overflow: hidden;
}

.accTimer {
  background: transparent;
  display: none;
  border: none;
  background-color: #4B5C99;
  color: #ffffff;
  font-weight: 600;
  transition-duration: 0.2s;

  width: 66px;
  height: 46px;
  border-radius: 37px;
  font-size: 16px;
  cursor: pointer;
}

.accTimer:hover {
  background-color: #3c4a7c;
}

.resetTimer {
  background-color: transparent;
  border: none;
  color: #5D82F2;
  font-size: 24px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.startTimer {
  background-color: #50d13c;
  border: none;
  color: #2f2f2f;
  transition-duration: 0.2s;
  width: 66px;
  height: 46px;
  border-radius: 37px;
  font-size: 20px;
  cursor: pointer;
}

.startTimer:hover {
  background-color: #86be7d;
}

.stopTimer {
  background-color: #adadad;
  border: none;
  color: #2f2f2f;
  transition-duration: 0.2s;
  width: 66px;
  height: 46px;
  border-radius: 37px;
  font-size: 20px;
  cursor: pointer;
}

.stopTimer:hover {
  background-color: #888888;
}

/* KEYBOARD */

.keyboardDisplay {
  text-align: center;
  margin-bottom: 10px;
  font-size: 36px;
  color: #7f7f7f;
}

.key {
  width: 70px;
  height: 70px;
  font-size: 22px;
  margin: 1px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #2f2f2f;
}

.deleteBtn {
  width: 70px;
  height: 70px;
  font-size: 22px;
  margin: 1px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #ce1d1d;
}

.resetBtn {
  width: 70px;
  height: 70px;
  font-size: 22px;
  margin: 1px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background-color: #2f2f2f;
  color: #5D82F2;
}

.submitBtn {
  display: none;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #4B5C99;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}


.timerBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
